@use "../utils/helpers" as *;

.form {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__wrapper {
    display: inherit;
    align-items: center;
    flex-direction: column;
  }
}
