@use "../utils/helpers" as *;

.full__text-content {
  overflow: auto;
  z-index: 99999;

  max-width: 240px;

  font-size: 10px;
  pointer-events: none;
  position: absolute;

  left: 0;
  top: 100%;

  border-radius: 4px;
  padding: 3px 16px;

  background: var(--black-87);

  color: var(--white);

  text-align: center;
  text-wrap: wrap;

  @include respond(md) {
    font-size: 13px;
    left: 5%;
    max-width: 380px;
  }

  @include respond(lg) {
    font-size: 1em;

    max-width: 650px;
  }
}
