// Base style setup for project

body {
  color: var(--black-87);
  background-color: var(--background);
}

#root {
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
}

main {
  display: inherit;
  flex-direction: column;
  align-items: center;

  flex-grow: 1;
}

section {
  width: 100%;
}

section:not(:last-child) {
  margin-bottom: 140px;
}

section:last-child {
  margin-bottom: 100px;
}

::placeholder {
  opacity: 0;
  font-size: 0px;
}

.lock {
  overflow: hidden;
}
